//Ignorowanie konkretenego folderu

/majkowski/workshop/build
/majkowski/introduction/build
/placek/workshop/build
/placek/introduction/build


//Ignororwane wszystkich folderów o zadanej nazwie

cmake-build-debug
.idea
